<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <tr>
    <th scope="col" style="vertical-align: top;width: 30%" class="dataTableHeading">NOMBRE</th>
    <th scope="col" style="vertical-align: top;width: 30%" class="dataTableHeading">DIRECCION</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">POBLACION</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">PROVINCIA</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">EMAIL</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">TELEFONO</th>
  </tr>
  <tr>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.name %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.address %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.town.name %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.town.state.name %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.email %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.workshop.phone %></td>
  </tr>
</table>
