<table style="border-collapse:collapse;border-spacing: 0;border: 0;width: 100%" class="templateDataTable">
  <col style="text-align: center;vertical-align: top;width: 20%">
  <col style="text-align: center;vertical-align: middle;width: 20%">
  <col style="text-align: center;vertical-align: middle;width: 20%">
  <col style="text-align: center;vertical-align: middle;width: 10%">
  <col style="text-align: center;vertical-align: middle;width: 10%">
  <col style="text-align: center;vertical-align: middle;width: 10%">
  <col style="text-align: center;vertical-align: middle;width: 10%">
  <tr>
    <th scope="col" class="dataTableHeading">NOMBRE</th>
    <th scope="col" class="dataTableHeading">APELLIDOS</th>
    <th scope="col" class="dataTableHeading">DIRECCION</th>
    <th scope="col" class="dataTableHeading">POBLACION</th>
    <th scope="col" class="dataTableHeading">PROVINCIA</th>
    <th scope="col" class="dataTableHeading">C.P.</th>
    <th scope="col" class="dataTableHeading">TELEFONO</th>
  </tr>
  <tr>
    <td class="dataTableContent"><%= @order.bill_address.firstname %></td>
    <td class="dataTableContent"><%= @order.bill_address.lastname %></td>
    <td class="dataTableContent"><%= @order.bill_address.address1 %></td>
    <td class="dataTableContent"><%= @order.bill_address.city %></td>
    <td class="dataTableContent"><%= @order.bill_address.state.name %></td>
    <td class="dataTableContent"><%= @order.bill_address.zipcode %></td>
    <td class="dataTableContent"><%= @order.bill_address.phone %></td>
  </tr>
</table>
