<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <tr>
    <th scope="col" valign="top" width="30%" class="dataTableHeading" mc:edit="data_table_heading00">
      NOMBRE
    </th>
    <th scope="col" valign="top" width="30%" class="dataTableHeading" mc:edit="data_table_heading02">
      DIRECCION
    </th>
    <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading02">
      POBLACION
    </th>
    <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading03">
      PROVINCIA
    </th>
    <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading04">
      EMAIL
    </th>
    <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading04">
      TELEFONO
    </th>
  </tr>
  <tr mc:repeatable>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.name %>
    </td>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.address %>
    </td>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.town.name %>
    </td>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.town.state.name %>
    </td>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.email %>
    </td>
    <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
      <%= @order.workshop.phone %>
    </td>
  </tr>
</table>
