<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td valign="top" style="padding-right:0;">
      <div mc:edit="std_content00">
        <h3 class="h3">Estimada Empresa <%= @line_items.first.variant.product.supplier.title %></h3>
        Le remito los datos del pedido de neumaticos con destino a la direccion abajo reseñada.
        <br />
        <br />
        <%= render :partial => 'spree/notify_mailer/provider/tabla_datos' %>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-right:0;">
      <div mc:edit="std_content00">
        Los datos del cliente son los siguientes:
      </div>
      <div mc:edit="std_content00">
        Nombre: <%= @order.bill_address.firstname %>
        Apellidos: <%= @order.bill_address.lastname %>
        Direccion: <%= @order.bill_address.address1 %>
        Poblacion: <%= @order.bill_address.city %>
        Codigo Postal: <%= @order.bill_address.zipcode %>
        Provincia: <%= @order.bill_address.state.name %>
        Teléfono: <%= @order.bill_address.phone %>
      </div>
    </td>
  </tr>
</table>
