<% @total = 0 -%>
<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <col width="10%" valign="middle" halign="center">
  <col width="50%" valign="middle">
  <col width="10%" valign="middle" halign="center">
  <col width="10%" valign="middle" halign="center">
  <col width="10%" valign="middle" halign="center">
  <col width="10%" valign="middle" halign="center">
  <tr>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading00">CODIGO</th>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading01">NOMBRE</th>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading02">MEDIDAS</th>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading02">CANTIDAD</th>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading03">PRECIO</th>
    <th scope="col" class="dataTableHeading" mc:edit="data_table_heading04">TOTAL</th>
  </tr>
  <% @order.line_items.each do |item| %>
    <tr mc:repeatable>
      <td class="dataTableContent" mc:edit="data_table_content00">
        <%= item.variant.sku %>
      </td>
      <td class="dataTableContent" mc:edit="data_table_content01">
        <%= raw(item.variant.product.name) %>
      </td>
      <td class="dataTableContent" mc:edit="data_table_content02">
        <%= raw(item.variant.tire_width.name) unless item.variant.tire_width_id.nil? -%>/<%= raw(item.variant.tire_serial.name) unless item.variant.tire_serial_id.nil? -%>/<%= raw(item.variant.tire_innertube.name) unless item.variant.tire_innertube_id.nil? -%>/<%= raw(item.variant.tire_speed_code.name) unless item.variant.tire_speed_code_id.nil? -%>
      </td>
      <td class="dataTableContent" mc:edit="data_table_content02">
        <%=item.quantity%>
      </td>
      <td class="dataTableContent" mc:edit="data_table_content02">
        <%= Spree::Money.new(item.variant.cost_price, { :currency => @order.currency })  %>
      </td>
      <td class="dataTableContent" mc:edit="data_table_content02">
        <%= Spree::Money.new((item.variant.cost_price * item.quantity), { :currency => @order.currency }) %>
      </td>
    </tr>
    <% @total += item.variant.cost_price * item.quantity %>
  <% end -%>
  <tr mc:repeatable>
    <td colspan="5" style="text-align:right;" class="dataTableContent" mc:edit="data_table_content00">
      <%= t('order_mailer.confirm_email.subtotal') %>
    </td>
    <td class="dataTableContent" mc:edit="data_table_content00">
      <%= Spree::Money.new(@total, { :currency => @order.currency }) %>
    </td>
  </tr>
  <tr mc:repeatable>
    <td colspan="5" style="text-align:right;" class="dataTableContent" mc:edit="data_table_content00">
      Pedido Total
    </td>
    <td class="dataTableContent" mc:edit="data_table_content00">
      <%= Spree::Money.new(@total, { :currency => @order.currency }) %>
    </td>
  </tr>
</table>
