<h4>Resumen del pedido</h4>
<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <col style="vertical-align: top;width: 10%;text-align: center">
  <col style="vertical-align: top;width: 50%;text-align: center">
  <col style="vertical-align: top;width: 10%;text-align: center">
  <col style="vertical-align: top;width: 15%;text-align: center">
  <col style="vertical-align: top;width: 15%;text-align: center">
  <tr>
    <th scope="col"  class="dataTableHeading">CODIGO</th>
    <th scope="col"  class="dataTableHeading">NOMBRE</th>
    <th scope="col"  class="dataTableHeading">CANTIDAD</th>
    <th scope="col"  class="dataTableHeading">PRECIO</th>
    <th scope="col"  class="dataTableHeading">TOTAL</th>
  </tr>
  <% @order.line_items.each do |item| %>
    <tr>
      <td  class="dataTableContent"><%= item.variant.sku %></td>
      <td  class="dataTableContent"><%= raw(item.variant.product.name) %></td>
      <td  style="text-align: center" class="dataTableContent"><%=item.quantity%></td>
      <td  class="dataTableContent"><%= item.variant.display_amount %></td>
      <td  class="dataTableContent"><%= item.display_amount %></td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="4" style="text-align:right;vertical-align: top" class="dataTableContent">Subtotal</td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.display_item_total %></td>
  </tr>
  <% @order.adjustments.eligible.each do |adjustment| %>
    <tr>
      <td colspan="4" style="text-align:right;vertical-align: top" class="dataTableContent">
        <%= raw(adjustment.label) %>
      </td>
      <td style="vertical-align: top" class="dataTableContent"><%= adjustment.display_amount %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4" style="text-align:right;vertical-align: top" class="dataTableContent">Total</td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.display_total %></td>
  </tr>
</table>
