<tr id="<%= spree_dom_id width %>" data-hook="admin_tire_widths_index_rows">
  <td class="align-center"><%= tire_width.name %></td>
  <td class="align-center"><%= tire_width.is_mm %></td>
  <td class="align-center" data-hook="admin_tire_widths_index_row_actions">
    <%= link_to_edit tire_width %> &nbsp;
    <%= link_to_delete tire_width %>
  </td>
</tr>