<h1><%= t(:editing_tire_width) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tire_width } %>
<%= form_for [:admin, @tire_width] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
