<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>

<% content_for :page_title do %>
  <%= t(:tire_widths) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_tire_width), new_admin_tire_width_url, :icon => 'icon-plus', :id => 'admin_new_tire_width_link' %>
  </li>
<% end %>


<table class="index responsive" id="tire_widths_listing">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 60%;">
  </colgroup>
  <thead data-hook="admin_tire_widths_index_headers">
    <th>t(:name)</th>
    <th>t(:is_mm?)</th>
    <th data-hook="admin_tire_widths_index_header_actions" class="actions">
    </th>
  </thead>
  <tbody>
    <%= render @tire_widths %>
  </tbody>
</table>
<%= paginate @tire_widths %>  