<h6 class="product-section-title"><%= t('tires_info')%></h6>
<<<<<<< HEAD
  <table id="tires_info" class="table table-stripped table-bordered table-hover" data-hook width="75%">
=======
  <table id="tires_info" class="table table-bordered table-hover" data-hook width="75%">
>>>>>>> master
    <tbody>
      <% for variant in @variants %>
        <tr>
          <td><strong>Ancho</strong></td>
          <td><%= variant.tire_width.name rescue t(:product_has_no_width) %></td>
        </tr>
        <tr>
          <td><strong>Perfil</strong></td>
          <td><%= variant.tire_serial.name rescue t(:product_has_no_serial) %></td>
        </tr>
        <tr>
          <td><strong>Llanta</strong></td>
          <td><%= variant.tire_innertube.name rescue t(:product_has_no_innertube)%></td>
        </tr>
        <tr>
          <td><strong>Codigo Velocidad</strong></td>
          <td><%= variant.tire_speed_code.name rescue t(:product_has_no_speed_code)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
