<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<table>
  <colgroup>
    <col style="width: 10%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <tr>
    <th> <%= check_box_tag "check_all", nil %> Seleccionar Todos </th>
    <th>Nombre</th>
    <th>Ecotasa</th>
  </tr>
  <% products.each do |product| -%>
    <tr>
      <td><%= check_box_tag "product_ids[]", product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.master.tire_green_rate_id.nil? ? t(:sin_ecotasa) : product.master.tire_green_rate.name %></td>
    </tr>
  <% end -%>
</table>
<% if paginated_products.respond_to?(:num_pages) %>
  <div id="paginator">
    <%= paginate paginated_products, :remote => true %>
  </div>
<% end %>