<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<table class="index">
  <tr>
    <th> <%= check_box_tag "check_all", nil %> Seleccionar Todos </th>
    <th>Nombre</th>
    <th>Imagen actual</th>
  </tr>
  <% products.each do |product| -%>
    <tr>
      <td><%= check_box_tag "product_ids[]", product.id %></td>
      <td><%= product.name %></td>
      <% if product.images.first.nil? -%>
        <td style="background:tomato">No Tiene Imagen</td>
      <% elsif product.images.first.attachment_file_name == "default.png" -%>
        <td style="background:gold">Imagen por defecto</td>
      <% else -%>
        <td style="background:greenyellow"><%= product.images.first.attachment_file_name %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>
<% if paginated_products.respond_to?(:num_pages) %>
  <div id="paginator">
    <%= paginate paginated_products, :remote => true %>
  </div>
<% end %>
<div id="progress_bar"><%= progress_bar(33, :color => 'blue', :rounded => true) %></div>
