<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>

<% content_for :page_title do %>
  <%= t(:gestion_neumaticos) %>
<% end %>

<table class="table table-stripped table-bordered" data-hook="tire_management">
  <thead>
    <tr>
      <th>Dato tecnico</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody data-hook="admin_tire_management_menu">
    <tr>
      <td>Cantidad de Neumaticos Disponibles</td>
      <td><%= Spree::Product.sum(:count_on_hand) %></td>
    </tr>
    <tr>
      <td>Numero de Modelos a dia de hoy</td>
      <td><%= Spree::Product.count %></td>
    </tr>
    <% Spree::Product.group("supplier_id").count.each do |supplier, valor| %>
      <tr>
        <td><%= Spree::Supplier.find(supplier).name %></td>
        <td><%= valor %></td>
      </tr>
    <% end -%>
    <tr>
      <td>Valor Monetario Total</td>
      <td><%= Spree::Money.new(Spree::Variant.joins(:prices).select("sum(count_on_hand * spree_prices.amount) as valor_total").map {|x| x.valor_total.to_f}[0]) %></td>
    </tr>
  </tbody>
</table>
