<h1><%= t(:gestion_neumaticos) %></h1>

<table class="index" data-hook="tire_management">
  <thead>
    <tr>
      <th><%= t(:system) %></th>
      <th><%= t(:description) %></th>
    </tr>
  </thead>
  <tbody data-hook="admin_tire_management_menu">
    <tr>
      <td><%= link_to t(:width), admin_tire_widths_path %></td>
      <td><%= t(:gestion_de_anchos) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:innertube), admin_tire_innertubes_path %></td>
      <td><%= t(:gestion_de_Llantas) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:serial), admin_tire_serials_path %></td>
      <td><%= t(:gestion_de_series) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:speed_code), admin_tire_speed_codes_path %></td>
      <td><%= t(:gestion_de_codigos_de_velocidad) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:workshop), admin_workshops_path %></td>
      <td><%= t(:gestion_de_talleres) %></td>
    </tr>
  </tbody>
</table>
