<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<h1><%= t(:nueva_carga_masiva_de_imagenes) %></h1>
<%= form_tag search_tyre_admin_tire_settings_path, :remote => true do -%>
  <div data-hook="admin_search_tyre_form_fields">
    <table data-hook="tyre">
      <tr>
        <td><%= label_tag :name, "Nombre Neumatico" %>:</td>
        <td><%= text_field_tag :tyre %></td>
      </tr>
    </table>
  </div>
  <p class="form-buttons">
    <%= submit_tag t(:search) %>
  </p>
<% end -%>
<div id="indicator"></div>
<%= form_tag upload_file_admin_tire_settings_path, :multipart => true, :remote => true do %>
  <div data-hook="admin_load_massive_images_form_fields">
    <div id="products_table"></div>
    <table data-hook="name">
      <tr>
        <td><%= label_tag :Archivo, "Archivo a importar" %>:</td>
        <td><%= file_field_tag :image %></td>
      </tr>
    </table>
  </div>
  <%= submit_tag "Enviar" %>
<% end %>
