<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<h1><%= t(:busqueda_de_neumaticos_para_carga_masiva_de_ecotasas) %></h1>
<%= form_tag assign_massive_green_rate_admin_tire_settings_path, :remote => true do -%>
  <div data-hook="admin_assign_massive_green_rate_form_fields">
    <%= select_tag :tires_massive, options_for_select([[t(:brand), '']] +
                @brands.map {|t| [t.name, t.id]},
                @width ? @width.id : params[:tires_massive]), { :class => 'select2', :style => "width:150px;" } %>
    <%= select_tag :innertube, options_for_select([[t(:innertube), '']] +
                  @innertubes.map {|t| [t.name, t.id]},
                  @innertube ? @innertube.id : params[:innertube]), { :class => 'select2', :style => "width:120px;" } %>
    <%= submit_tag t(:search) %>
  </div>
<% end -%>

<%= form_tag assign_massive_green_rate_admin_tire_settings_path  do %>
  <div data-hook="admin_assign_massive_green_rate_form_fields">
    <div id="green_rate_products_table"></div>
    <table data-hook="name">
      <tr>
        <td><%= label_tag :ecotasa, "Asigna Ecotasa" %>:</td>
        <td><%= select_tag :green_rate, options_for_select([[t(:green_rate), '']] +
                  @green_rates.map {|t| [t.cat, t.id]},
                  green_rate ? green_rate.id : params[:green_rate]),
                  { :class => 'select2', :style => "width:120px;" } %>
        </td>
      </tr>
    </table>
  </div>
  <%= submit_tag "Enviar" %>
<% end %>