<% content_for :sidebar do %>

  <h3><%= t(:configurations) %></h3>
  <br class="clear" />

  <ul class="sidebar" data-hook="tire_settings_sidebar_menu">
    <%= configurations_sidebar_menu_item t(:width), "#" %>
    <%= configurations_sidebar_menu_item t(:serial), "#" %>
    <%= configurations_sidebar_menu_item t(:innertube), "#" %>
    <%= configurations_sidebar_menu_item t(:speed_code), "#" %>
  </ul>
<% end %>
