<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<% content_for :page_title do %>
  <%= t(:tire_innertubes) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_tire_innertube), new_admin_tire_innertube_url, :icon => 'icon-plus', :id => 'admin_new_tire_width_link' %>
  </li>
<% end %>

<table class="index responsive" id="tire_innertubes_listing">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <thead data-hook="admin_tire_innertubes_index_headers">
    <th><%= sort_link @search, :name, t(:name) %></th>
    <th>Precio de Venta</th>
    <th><%= sort_link @search, :is_mm, t(:is_mm?) %></th>
    <th data-hook="admin_tire_innertubes_index_header_actions" class="actions">
    </th>
  </thead>
  <tbody>
    <% @tire_innertubes.each do |innertube|%>
      <tr id="<%= spree_dom_id innertube %>" data-hook="admin_tire_innertubes_index_rows">
        <td class="align-center"><%= innertube.name %></td>
        <td class="align-center"><%= innertube.sale_price %></td>
        <td class="align-center"><%= innertube.is_mm %></td>
        <td class="align-center" data-hook="admin_tire_innertubes_index_row_actions">
          <%= link_to_edit innertube %> &nbsp;
          <%= link_to_delete innertube %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tire_innertubes %>
