<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t(:new_tire_innertube), new_admin_tire_innertube_url, :icon => 'add', :id => 'admin_new_tire_innertube_link' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:tire_innertubes) %></h1>

<table class="index" id="tire_innertubes_listing">
  <thead data-hook="admin_tire_innertubes_index_headers">
    <th><%= t(:name) %></th>
    <th>Precio de Venta</th>
    <th data-hook="admin_tire_innertubes_index_header_actions">
    </th>
  </thead>
  <tbody>
    <% @innertubes.each do |innertube|%>
      <tr id="<%= spree_dom_id innertube %>" data-hook="admin_tire_innertubes_index_rows">
        <td widht="60px"><%= innertube.name %></td>
        <td widht="60px"><%= innertube.sale_price %></td>
        <td innertube="140px" data-hook="admin_tire_innertubes_index_row_actions">
          <%= link_to_with_icon 'edit', t(:edit), edit_admin_tire_innertube_url(innertube) %> &nbsp;
          <%= link_to_delete innertube , {:url => admin_tire_innertube_url(innertube) }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @innertubes %>
