<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<% content_for :page_title do %>
  <%= t(:tire_load_codes) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_tire_load_code), new_admin_tire_load_code_url, :icon => 'icon-plus', :id => 'admin_new_tire_load_code_link' %>
  </li>
<% end %>

<table class="index responsive" id="tire_load_codes_listing">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <thead data-hook="admin_tire_innertubes_index_headers">
    <th><%= sort_link @search, :name, t(:name) %></th>
    <th>Peso</th>
    <th data-hook="admin_tire_load_codes_index_header_actions" class="actions">
    </th>
  </thead>
  <tbody id="tire_load_codes">
    <%= render :partial => 'spree/admin/tire_load_codes/tire_load_code', :collection => @tire_load_codes, :as => :code %> 
  </tbody>
</table>
<div id="paginator"><%= paginate @tire_load_codes, :remote => true %></div>

