<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <tr>
    <th scope="col" style="vertical-align: top;width: 20%" class="dataTableHeading">NOMBRE</th>
    <th scope="col" style="vertical-align: top;width: 20%" class="dataTableHeading">APELLIDOS</th>
    <th scope="col" style="vertical-align: top;width: 20%" class="dataTableHeading">DIRECCION</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">POBLACION</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">PROVINCIA</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">C.P.</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">TELEFONO</th>
  </tr>
  <tr>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.firstname %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.lastname %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.address1 %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.city %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.state.name %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.zipcode %></td>
    <td style="vertical-align: top" class="dataTableContent"><%= @order.bill_address.phone %></td>
  </tr>
</table>
