<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 100%" class="templateDataTable">
  <tr>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">CODIGO</th>
    <th scope="col" style="vertical-align: top;width: 50%" class="dataTableHeading">NOMBRE</th>
    <th scope="col" style="vertical-align: top;width: 30%" class="dataTableHeading">MEDIDAS</th>
    <th scope="col" style="vertical-align: top;width: 10%" class="dataTableHeading">CANTIDAD</th>
  </tr>
  <% @order.line_items.each do |item| %>
    <tr>
      <td style="vertical-align: top" class="dataTableContent"><%= item.variant.sku %></td>
      <td style="vertical-align: top" class="dataTableContent"><%= raw(item.variant.product.name) %></td>
      <td style="vertical-align: top" class="dataTableContent">
        <%= raw(item.variant.tire_width.name) unless item.variant.tire_width_id.nil? -%>/<%= raw(item.variant.tire_serial.name) unless item.variant.tire_serial_id.nil? -%>/<%= raw(item.variant.tire_innertube.name) unless item.variant.tire_innertube_id.nil? -%>/<%= raw(item.variant.tire_speed_code.name) unless item.variant.tire_speed_code_id.nil? -%>
      </td>
      <td style="vertical-align: top;text-align: center" class="dataTableContent"><%=item.quantity%></td>
    </tr>
  <% end -%>
</table>
