<div data-hook="admin_product_form_fields">
  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <%= f.field_container :tire_speed_code do %>
      <%= f.label :tire_speed_code_id, t(:speed_code) %><br />
      <%= f.collection_select(:tire_speed_code_id, Spree::TireSpeedCode.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_speed_code %>
    <% end -%>
    <%= f.field_container :tire_width do %>
      <%= f.label :tire_width_id, t(:width) %><br />
      <%= f.collection_select(:tire_width_id, Spree::TireWidth.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_width %>
    <% end -%>
    <%= f.field_container :tire_serial do %>
      <%= f.label :tire_serial_id, t(:serial) %><br />
      <%= f.collection_select(:tire_serial_id, Spree::TireSerial.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_serial %>
    <% end -%>
    <%= f.field_container :tire_innertube do %>
      <%= f.label :tire_innertube_id, t(:innertube) %><br />
      <%= f.collection_select(:tire_innertube_id, Spree::TireInnertube.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_innertube %>
    <% end -%>
    <%= f.field_container :tire_innertube do %>
      <%= f.label :tire_season, t(:tire_season) %><br />
      <%= f.select(:tire_season, ([[t(:tire_season), '']] + Spree::Variant::SEASON_OPTIONS), { :include_blank => true }, { :class => 'select2', :style => "width:120px;" })  %>
      <%= f.error_message_on :tire_innertube %>
    <% end -%>

    <%= f.field_container :tire_innertube do %>
      <%= f.label :tire_rf, t(:tire_rf) %>
      <%= f.check_box :tire_rf, { 'style' => 'width:40px' } %>
      <%= f.error_message_on :tire_innertube %>
    <% end -%>
    <%= f.field_container :tire_innertube do %>
      <%= f.label :tire_gr, t(:tire_gr) %>
      <%= f.check_box :tire_gr, { 'style' => 'width:40px' } %>
      <%= f.error_message_on :tire_innertube %>
    <% end -%>
  </div>
  <div class="right four columns omega" data-hook="admin_product_form_right">
    <%= f.field_container :supplier do %>
      <%= f.label :supplier_id, t(:supplier_id) %><br />
      <%= f.collection_select(:supplier_id, Spree::Supplier.all, :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :supplier_id %>
    <% end %>
    <%= f.field_container :tire_fuel_consumption do %>
      <%= f.label :tire_fuel_consumption_id, t(:fuel_consumption) %><br />
      <%= f.collection_select(:tire_fuel_consumption_id, Spree::TireFuelConsumption.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_fuel_consumption %>
    <% end -%>
    <%= f.field_container :tire_wet_grip do %>
      <%= f.label :tire_wet_grip_id, t(:wet_grip) %><br />
      <%= f.collection_select(:tire_wet_grip_id, Spree::TireWetGrip.order('name'), :id, :name, { :include_blank => true }, { :class => 'select2', :style => "width:120px;" }) %>
      <%= f.error_message_on :tire_wet_grip %>
    <% end -%>
    <%= f.field_container :tire_rolling_noise_db do %>
      <%= f.label :tire_rolling_noise_db, t(:rolling_noise_db) %>
      <%= f.number_field :tire_rolling_noise_db, :min => 0 %>
    <% end %>
    <%= f.field_container :tire_rolling_noise_wave do %>
      <%= f.label :tire_rolling_noise_wave, t(:rolling_noise_wave) %>
      <%= f.number_field :tire_rolling_noise_wave, :min => 1 %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>  