<ul>
  <li>
    <%= f.label :tire_speed_code_id, t(:speed_code) %>
    <%= f.collection_select(:tire_speed_code_id, Spree::TireSpeedCode.all, :id, :name, { :include_blank => true }, { 'style' => 'width:40px' }) %>
  </li>
  <li>
    <%= f.label :tire_width_id, t(:width) %>
    <%= f.collection_select(:tire_width_id, Spree::TireWidth.all, :id, :name, { :include_blank => true }, { 'style' => 'width:40px' }) %>
  </li>
  <li>
    <%= f.label :tire_serial_id, t(:serial) %>
    <%= f.collection_select(:tire_serial_id, Spree::TireSerial.all, :id, :name, { :include_blank => true }, { 'style' => 'width:40px' }) %>
  </li>
  <li>
    <%= f.label :tire_innertube_id, t(:innertube) %>
    <%= f.collection_select(:tire_innertube_id, Spree::TireInnertube.all, :id, :name, { :include_blank => true }, { 'style' => 'width:40px' }) %>
  </li>
 </ul>
 <ul>
  <li>
    <%= f.label :tire_rf, t(:rf) %>
    <%= f.check_box :tire_rf, { 'style' => 'width:40px' } %>
  </li>
  <li>
    <%= f.label :tire_gr, t(:gr) %>
    <%= f.check_box :tire_gr, { 'style' => 'width:40px' } %>
  </li>
  <li>
    <%= f.label :tire_season, t(:season) %>
    <%= f.collection_select :tire_season, options_for_select([[t(:tire_season), '']] +
                    Spree::Variant::SEASON_OPTIONS), :name, :id %>
  </li>
 </ul>
