<tr id="<%= spree_dom_id serial %>" data-hook="admin_tire_serials_index_rows">
  <td class="align-center"><%= serial.name %></td>
  <td class="align-center"><%= serial.is_mm %></td>
  <td class="align-center" data-hook="admin_tire_serials_index_row_actions">
    <%= link_to_edit serial %> &nbsp;
    <%= link_to_delete serial %>
  </td>
</tr>