<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<% content_for :page_title do %>
  <%= t(:tire_speed_codes) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_tire_speed_code), new_admin_tire_speed_code_url, :icon => 'icon-plus', :id => 'admin_new_tire_speed_code_link' %>
  </li>
<% end %>

<table class="index responsive" id="tire_speed_codes_listing">
  <colgroup>
    <col style="width: 20%;">
  </colgroup>
  <thead data-hook="admin_tire_speed_codes_index_headers">
    <th><%= sort_link @search, :name, t(:name) %></th>
    <th data-hook="admin_tire_speed_codes_index_header_actions" class="actions">
    </th>
  </thead>
  <tbody>
    <% @tire_speed_codes.each do |speed_code|%>
      <tr id="<%= spree_dom_id speed_code %>" data-hook="admin_tire_speed_codes_index_rows">
        <td class="align-center"><%= speed_code.name %></td>
        <td class="align-center" data-hook="admin_tire_speed_codes_index_row_actions">
          <%= link_to_edit speed_code %> &nbsp;
          <%= link_to_delete speed_code %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tire_speed_codes %>
