<h3>Resumen de Estadisticas de la Actualizacion llevada a cabo a las <%=	l Time.now, :format => '%H:%M del %A %d de %B del %Y' %></h3>

<h4>Se han leido un total de <%= @readed %> articulos de la Base de Datos</h4>
<table style="border: 1px solid black;">
  <tr>
    <th></th>
    <th>Articulos</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">Nuevos</td>
    <td style="text-align:center;border: 1px solid black;"><%= @created %></td>
  </tr>
  <tr>
    <td style="border: 1px solid black;">Actualizados</td>
    <td style="text-align:center;border: 1px solid black;"><%= @updated %></td>
  </tr>
  <tr>
    <td style="border: 1px solid black;">Borrados</td>
    <td style="text-align:center;border: 1px solid black;"><%= @deleted %></td>
  </tr>
</table>
 <p></p>
Se adjunta fichero CSV con los productos sin incorporar a la aplicacion por si se realizara manualmente.
