<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>*|MC:SUBJECT|*</title>
        <link href="/assets/store/email_provider.css" rel="stylesheet" type="text/css" />
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td class="headerContent" width="100%" style="padding-left:20px; padding-right:10px;">
                                                <div mc:edit="Header_content">
                                                    <h1><%= @line_items.first.variant.product.supplier.title %></h1>
                                                </div>
                                            </td>
                                            <td class="headerContent">
                                                <img src="/assets/logo.png" style="max-width:180px;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowtext />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent">

                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="padding-right:0;">
                                                            <div mc:edit="std_content00">
                                                              <h3 class="h3">Estimada Empresa <%= @line_items.first.variant.product.supplier.title %></h3>
                                                                Le remito los datos del pedido de neumaticos con destino a la direccion abajo reseñada.
                                                                <br />
                                                                <br />
                                                                <% total = 0 -%>
                                                                <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
                              <tr>
                                <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading00">CODIGO</th>
                                <th scope="col" valign="top" width="50%" class="dataTableHeading" mc:edit="data_table_heading01">NOMBRE</th>
                                <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading02">MEDIDAS</th>
                                <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading02">CANTIDAD</th>
                                <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading03">PRECIO</th>
                                <th scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading04">TOTAL</th>
                              </tr>
                              <% @order.line_items.each do |item| %>
                                <tr mc:repeatable>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content00"><%= item.variant.sku %></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content01"><%= raw(item.variant.product.name) %></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02"><%= raw(item.variant.tire_width.name) unless item.variant.tire_width_id.nil? -%>/<%= raw(item.variant.tire_serial.name) unless item.variant.tire_serial_id.nil? -%>/<%= raw(item.variant.tire_innertube.name) unless item.variant.tire_innertube_id.nil? -%>/<%= raw(item.variant.tire_speed_code.name) unless item.variant.tire_speed_code_id.nil? -%></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02"><%=item.quantity%></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02"><%= number_to_currency item.variant.cost_price %></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02"><%= number_to_currency(item.variant.cost_price * item.quantity) %></td>
                                </tr>
                                <% total += item.variant.cost_price * item.quantity %>
                              <% end -%>
                              <tr mc:repeatable>
                                <td colspan="5" valign="top" style="text-align:right;" class="dataTableContent" mc:edit="data_table_content00"><%= t('order_mailer.confirm_email.subtotal') %></td>
                                <td valign="top" class="dataTableContent" mc:edit="data_table_content00"><%= number_to_currency @order.item_total %></td>
                              </tr>
                              <% @order.adjustments.eligible.each do |adjustment| %>
                                <tr mc:repeatable>
                                  <td colspan="5" valign="top" style="text-align:right;" class="dataTableContent" mc:edit="data_table_content00"><%= raw(adjustment.label) %></td>
                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content00"><%= number_to_currency(adjustment.amount) %></td>
                                </tr>
                              <% end %>
                              <tr mc:repeatable>
                                <td colspan="5" valign="top" style="text-align:right;" class="dataTableContent" mc:edit="data_table_content00">Pedido Total</td>
                                <td valign="top" class="dataTableContent" mc:edit="data_table_content00"><%= number_to_currency total %></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">
                                  <div mc:edit="std_content01">
                                    Los datos del cliente son los siguientes:
                                  </div>

                                </td>
                              </tr>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->

                                            </td>
                                            <!-- // Begin Sidebar \\  -->
                                            <td valign="top" width="180" id="templateSidebar">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">

                                                            <!-- // Begin Module: Standard Content \\ -->
                                                            <table border="0" cellpadding="20" cellspacing="0" width="100%" class="sidebarContent">
                                                                <tr>
                                                                    <td valign="top" style="padding-right:10px;">
                                                                        <div mc:edit="std_content01">
                                                                            <strong>Basic content module</strong>
                                                                            <br />
                                                                            Far far away, behind the word mountains.
                                                                            <br />
                                                                            <br />
                                                                            <strong>Far from the countries</strong>
                                                                            <br />
                                                                            Vokalia and Consonantia, there live the blind texts.
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // End Module: Standard Content \\ -->

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- // End Sidebar \\ -->
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent">

                                                <!-- // Begin Module: Standard Footer \\ -->
                                                <%= render :partial => 'social' %>
                                                <!-- // End Module: Standard Footer \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
